.wrapper {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture1 {
    width: 20vw;
    padding: 0 1vw;
}

.btn {
    background-color: rgb(250, 178, 139);
    color: rgb(0, 0, 0);
    border: none;
    width: 8vw;
    height: 5vh;
    border-radius: 25px;
    cursor: pointer;
}